.app__header {
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    height: 80px;
    border-bottom: solid 1px gray;
  }
  
  .app__logo {
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
  }
  
  .app__date {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    text-transform: lowercase;
    margin-left: 20px;
  }